* { border: 0px solid blue;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-family: 'Oswald', sans-serif;
    }

.dog-name {
    font-size: large;
}
header {font-family: 'Open Sans';
font-size: 20px;
font-weight: bold;
color: white;
background-color: #004175;
border-bottom: 2px solid #89DEEF;
padding: 20px}

p { font-size: 12px;
}
.intro {font-family: 'Open Sans';
}
