* { border: 2px solid blue;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
    font-family: 'Oswald', sans-serif;
    }

.dog-name {
    font-size: large;
}
header {font-family: 'Oswald';
font-size: 40px;}
p { font-size: 12px;
}
.intro {font-family: 'Open Sans';
}
